body {
  background-color: rgb(244, 176, 240);

}

.navTitle {
  font-weight: 900;
  font-size: xx-large;
}

.blogBox {
  margin-top: 8px;
  border-style: solid;
}

.blogTitle {
  text-decoration: none;
  color: darkkhaki;
}

.blogDesc {
  border-style: solid;
  margin-bottom: 5px;
  padding: 2px;
  background-color: rgb(113, 143, 62);
}

.blogDescMain {
  font-weight: 700;
}

.blogDescTwo {
  font-size: 25px;
  font-style: italic;
}

.blogCreate {
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  padding: 5px;
  color: darkkhaki;
}

.blogBoxCont {
	margin-top: 10px;
  border-style: solid;
  background-color: rgb(113, 143, 62);
}

.formCont {
  margin-top: 10px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}


.commentCont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 75%;
  background-color: rgb(113, 143, 62);
}

.commentOwner {
  font-size: 14px;
}

.btnComment {
  margin-top: 10px;
}

.commentText {
  font-weight: bold;
  padding-top: 10px;
  background-color: rgb(234, 176, 220);
}

.commentCont {
  border-style: dashed;
}

.headerRow {
  background-color: black;
  margin-bottom: 10px;
}

a:link {
  color: rgb(29, 200, 23);
}
a:visited {
  color: rgb(182, 179, 41);
}

a:hover {
  color: rgb(57, 233, 54);
}

.login{
	margin-left: 25px;
}

.signup{
	margin-left: 25px;
}

.form-group{
	margin-top: 10px;
}