body {
  background-color: rgb(244, 213, 242);

}

.navTitle {
  font-weight: 900;
  font-size: xx-large;
}

.blogBox {
  margin-top: 8px;
  border-style: solid;
}

.blogTitle {
  text-decoration: none;
  color: rgb(115, 189, 107);
}

.blogDesc {
  border-style: solid;
  margin-bottom: 5px;
  padding: 2px;
  background-color: rgb(143, 62, 136);
}

.blogDescMain {
  font-weight: 700;
}

.blogDescTwo {
  font-size: 25px;
  font-style: italic;
}

.blogCreate {
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  padding: 5px;
  color: rgb(189, 107, 183);
}

.blogBoxCont {
	margin-top: 10px;
  border-style: solid;
  background-color: rgb(143, 62, 116);
}

.formCont {
  margin-top: 10px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}


.commentCont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 75%;
  background-color: rgb(127, 62, 143);
}

.commentOwner {
  font-size: 14px;
}

.btnComment {
  margin-top: 10px;
}

.commentText {
  font-weight: bold;
  padding-top: 10px;
  background-color: rgb(234, 176, 220);
}

.commentCont {
  border-style: dashed;
}

.headerRow {
  background-color: rgb(69, 46, 91);
  margin-bottom: 10px;
}

a:link {
  color: rgba(62, 127, 179, 0.812);
}
a:visited {
  color: rgba(62, 127, 179, 0.812);
}

a:hover {
  color: rgba(62, 127, 179, 0.812)
}

.login{
	margin-left: 25px;
}

.signup{
	margin-left: 25px;
}

.form-group{
	margin-top: 10px;
}